.padding {
  padding: 10px;
}

.search-label {
  display: block;
}
.search-input {
  margin-bottom: 1rem;
}

.margin-input-center {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: left;
}

.margin-input {
  margin: auto;
  width: 70%;
  padding: 10px;
}


.card {
  //background-image: linear-gradient(to left, rgb(149, 196, 253), rgb(149, 196, 253));;
  //background-color: rgb(149, 196, 253);
  //border: solid black;
  background: rgb(254, 255, 254, 0.95);
  border: 0;

}
