<div class="row">
  <div class="col-sm-12">
    <div class="center-text">
      <h4>Who We Are</h4>
      <p>*About Us Paragraph Goes Here*</p>
    </div>

    <br />
    <br />

    <div class="center-text">
      <h4>What We Offer</h4>

      <div class="row">

        <div class="col-sm-3">
          <nb-card>
            <nb-card-header>
              Property Offerings
            </nb-card-header>
            <nb-card-body>
              <p>
                *Description of Topic Goes Here*
              </p>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-sm-3">
          <nb-card>
            <nb-card-header>
              Tax Calculations
            </nb-card-header>
            <nb-card-body>
              <p>
                *Description of Topic Goes Here*
              </p>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-sm-3">
          <nb-card>
            <nb-card-header>
              Finance Dealings
            </nb-card-header>
            <nb-card-body>
              <p>
                *Description of Topic Goes Here*
              </p>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-sm-3">
          <nb-card>
            <nb-card-header>
              Mandate Coverings
            </nb-card-header>
            <nb-card-body>
              <p>
                *Description of Topic Goes Here*
              </p>
            </nb-card-body>
          </nb-card>
        </div>

      </div>
    </div>
  </div>
</div>


