
<div class="row">

  <div class="col-sm-6">

    <nb-card class="card" size="large">
      <nb-card-body>
        <img class="propertyimage" src="../../../../assets/property1.jpg">
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-6">

    <nb-card class="card">
      <nb-card-body>
        <div class="center-text">
          <nb-icon icon="pin-outline"></nb-icon>
          Centurion, Pretoria
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="card">
      <nb-card-body>
        <div>
          TEST BODY WITH PROPERTY INFORMATION
        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>
