<div class="row">
  <div class="col-sm-12">
    <img class="logo" src="../../../../assets/pazenlogoimage.png" />
    <img class="logo" src="../../../../assets/pazenlogotext.png" />
  </div>

  <div class="col-sm-12 buttons">
    <button (click)="homeClick()" size="small" status="dark" ghost nbButton>
      <nb-icon icon="home-outline"></nb-icon>
      Home</button
    >&nbsp;
    <button (click)="aboutClick()" size="small" status="dark" ghost nbButton>
      <nb-icon icon="people-outline"></nb-icon>
      About</button
    >&nbsp;
    <button (click)="contactClick()" size="small" status="dark" ghost nbButton>
      <nb-icon icon="email-outline"></nb-icon>
      Contact</button
    >&nbsp;
    <button (click)="savedClick()" size="small" status="dark" ghost nbButton>
      <nb-icon icon="star-outline"></nb-icon>
      Saved</button
    >&nbsp;
    <button (click)="profileClick()" size="small" status="dark" ghost nbButton>
      <nb-icon icon="person-outline"></nb-icon>
      Profile</button
    >&nbsp;
  </div>
</div>
