<nb-layout>
  <nb-layout-header fixed>
    <app-header (aboutClicked)="toggleAbout($event)"
    (homeClicked)="toggleHome($event)"
    (contactClicked)="toggleContact($event)"
    (savedClicked)="toggleSaved($event)"
    (profileClicked)="toggleProfile($event)"
    ></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-flip-card [showToggleButton]="false" [flipped]="flipped">

      <!--Home Page-->
      <nb-card-front>
        <nb-card class="invisible-card">
          <nb-card-body>
            <app-home (aboutClicked)="toggleAbout($event)"  (viewClicked)="toggleViewProperty($event)"></app-home>
          </nb-card-body>
        </nb-card>
      </nb-card-front>

      <!--About Page-->
      <nb-card-back  *ngIf="showAbout">
        <nb-card >
          <nb-card-body>
            <app-about ></app-about>
          </nb-card-body>
        </nb-card>
      </nb-card-back>

      <!--Contact Page-->
      <nb-card-back *ngIf="showContact">
        <nb-card>
          <nb-card-body>
            <app-contact></app-contact>
          </nb-card-body>
        </nb-card>
      </nb-card-back>

      <!--Saved Page-->
      <nb-card-back *ngIf="showSaved">
        <nb-card>
          <nb-card-body>
            <app-saved></app-saved>
          </nb-card-body>
        </nb-card>
      </nb-card-back>

      <!--Profile Page-->
      <nb-card-back *ngIf="showProfile">
        <nb-card>
          <nb-card-body>
            <app-profile></app-profile>
          </nb-card-body>
        </nb-card>
      </nb-card-back>


      <!--View Property Page-->
      <nb-card-back *ngIf="showProperty">
        <nb-card>
          <nb-card-body>
            <app-view-property></app-view-property>
          </nb-card-body>
        </nb-card>
      </nb-card-back>

    </nb-flip-card>
    <router-outlet ></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    Copyright © Pazen Property Group {{year}}
  </nb-layout-footer>
</nb-layout>
