<div class="row">

  <div class="col-sm-4">
    <nb-card class="card">
      <nb-card-header class="center-text">
        <nb-icon icon="pin-outline"></nb-icon>
        Bryanston, Santon
      </nb-card-header>
      <nb-card-body>
        <img class="propertyimage" src="../../../../assets/property1.jpg">
      </nb-card-body>
      <nb-card-footer>
        <div class="card-information">
          Apartment

        </div>
          <div class="card-buttons">
            <button nbButton ghost status="dark">
              <nb-icon icon="star-outline"></nb-icon>
            </button>
            &nbsp;
            <button (click)="viewPropertyClick()" nbButton ghost status="dark">
              <nb-icon icon="diagonal-arrow-right-up-outline"></nb-icon>
            </button>
          </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card class="card">
      <nb-card-header class="center-text">
        <nb-icon icon="pin-outline"></nb-icon>
        Centurion, Pretoria
      </nb-card-header>
      <nb-card-body>
        <img class="propertyimage" src="../../../../assets/property2.jpg">
      </nb-card-body>
      <nb-card-footer>
        <div class="card-information">
          Apartment

        </div>
          <div class="card-buttons">
            <button nbButton ghost status="dark">
              <nb-icon icon="star-outline"></nb-icon>
            </button>
            &nbsp;
            <button (click)="viewPropertyClick()" nbButton ghost status="dark">
              <nb-icon icon="diagonal-arrow-right-up-outline"></nb-icon>
            </button>
          </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card class="card">
      <nb-card-header class="center-text">
        <nb-icon icon="pin-outline"></nb-icon>
        Bryanston, Santon
      </nb-card-header>
      <nb-card-body>
        <img class="propertyimage" src="../../../../assets/property3.jpg">
      </nb-card-body>
      <nb-card-footer>
        <div class="card-information">
          Apartment

        </div>
          <div class="card-buttons">
            <button nbButton ghost status="dark">
              <nb-icon icon="star-outline"></nb-icon>
            </button>
            &nbsp;
            <button (click)="viewPropertyClick()" nbButton ghost status="dark">
              <nb-icon icon="diagonal-arrow-right-up-outline"></nb-icon>
            </button>
          </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

